@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --giallo: #f9ee74;
  --azzurro: #408eb5;
  --rosa: #ed96c8;
  --rosso: c04331;
  --raggio: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@font-face {
  font-family: 'kaio-super';
  src: url('/fonts/kaio-super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kaio-medium';
  src: url('/fonts/kaio-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kaio-bold';
  src: url('/fonts/kaio-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kaio-black';
  src: url('/fonts/kaio-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kaio-regular';
  src: url('/fonts/kaio-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kaio-light';
  src: url('/fonts/kaio-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

