#registrazione-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#email-input,
#password-input,
#username-input{
  color: #000;
}

#error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

#password-toggle {
  margin-top: 10px;
  border-radius: 20px;
  color: var(--azzurro);
  font-size: 16px;
  cursor: pointer;
}

#password-toggle:hover {
  text-decoration: underline;
  text-decoration-color: var(--rosa);
  font-size: 16px;
}

#registrazione-button {
  width: 100%;
  padding: 10px;
  border-radius: 100px;
  border: none;
  background-color: var(--azzurro);
  color: #fff;
  font-weight: bold;
}

#registrazione-button:hover {
  background-color: var(--rosa);
}